h1 {
    text-align: center;
}
  
#board, #check-holder {
    margin: 30px auto;
    width: 600px;
}

#board {
    border: 10px solid #6a4a2f;
    height: 600px;
}
  
button {
    width: 75px;
    height: 75px;
    text-align: center;
    float: left;
    padding: 0;
    cursor: pointer
}

.queen {
    background: inherit;
    border: 1px solid #714d38;
}

.queen:focus,
.queen:active,
#reset-btn, #check-btn {
    outline: none;
}

.inactive {
    opacity: 0.3;
}

i {
    background: inherit;
    color: white;
    font-size: 40px;
}

.black {
    background: #714d38;
}

.white {
    background: #efddb4;
}

#check-btn {
    float: left;
    margin-left: 80px;
}

#reset-btn {
    float: right;
    margin-right: 80px;
}

#reset-btn, #check-btn {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: 1px solid gray;
}

.attack-path {
    background: #ECF0F1;
}

.under-attack {
    background: #E74C3C;
}

.safe {
    background: #28B463;
}

.disabled {
    cursor: not-allowed;
}